---
---
{% include fragment-pagebegin.html %}
<div class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ConceptMap' id='whonet-antibiotic-to-snomed' active='content' %}
  <a name="root"> </a>

  <h2 id="root">ConceptMap: {{site.data.pages[page.path].title | escape_once}}
{% if site.data.resources[resource_].experimental == true %}(Experimental){% endif %}
  </h2>

{% include fragment-resourceTable.html %}

{%if site.data.resources[resource_].description %}
<p>
{{site.data.resources[resource_].description|markdownify}}
</p>
{% endif %}
{%if site.data.resources[resource_].purpose %}
<p>
{{site.data.resources[resource_].purpose|markdownify}}
</p>
{% endif %}
  <!-- insert intro if present -->
  {% include fragment-intro.html type='ConceptMap' id='whonet-antibiotic-to-snomed' %}

<!--  <p>
  Formats: <a href="ConceptMap-whonet-antibiotic-to-snomed.xml.html">XML</a>, <a href="ConceptMap-whonet-antibiotic-to-snomed.json.html">JSON</a>, <a href="ConceptMap-whonet-antibiotic-to-snomed.ttl.html">Turtle</a>
  </p>-->
{% unless example %}
  {% if 'ConceptMap' == 'CapabilityStatement' %}
  <p>
      <a href="whonet-antibiotic-to-snomed.openapi.json" no-download="true">Raw OpenAPI-Swagger Definition file</a> | <a href="whonet-antibiotic-to-snomed.openapi.json" download>Download</a>
  </p>
  {% endif %}
{% endunless %}

  {% include ConceptMap-whonet-antibiotic-to-snomed-html.xhtml %}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='ConceptMap' id='whonet-antibiotic-to-snomed' %}

  {%include ConceptMap-whonet-antibiotic-to-snomed-history.xhtml%}

</div>
{% include fragment-pageend.html %}
