---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ConceptMap' id='whonet-organism-to-snomed' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: WHONETOrganismToSNOMED - Change History</h2>
  <p>History of changes for whonet-organism-to-snomed {{type | downcase}}.</p>

  {%include ConceptMap-whonet-organism-to-snomed-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
