---
---
<!-- get modelType -->
{% include fragment-modelType.html id='botswana-amr-encounter' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='botswana-amr-encounter' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: BotswanaAMREncounter - Mappings</h2>
{% include fragment-simpletable.html %}

<p>Mappings for the botswana-amr-encounter {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='botswana-amr-encounter' %}

  {%include StructureDefinition-botswana-amr-encounter-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='botswana-amr-encounter' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
