---
---
<!-- get modelType -->
{% include fragment-modelType.html id='botswana-amr-organism-observation' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='botswana-amr-organism-observation' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: BotswanaAMROrganismObservation - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the botswana-amr-organism-observation {{modelType | downcase}}.</p>

  {%include StructureDefinition-botswana-amr-organism-observation-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
