---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ValueSet' id='botswana-amr-antibiotic-susceptibility-loinc' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: BotswanaAMRAntibioticSusceptibilityLOINC - Change History</h2>
  <p>History of changes for botswana-amr-antibiotic-susceptibility-loinc {{type | downcase}}.</p>

  {%include ValueSet-botswana-amr-antibiotic-susceptibility-loinc-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
